{% extends "base.html" %}

{% block content %}
<main>
    <article class="review-detail">
        <div class="content-header review-header">
            <h1>{{ review.headline }}</h1>
            <span class="author">Par {{ review.user.username }}</span>
        </div>

        <div class="review-content">
            <p class="visually-hidden">Note : {{ review.rating }} sur 5</p>
            <div class="rating" role="img" aria-hidden="true">
                {% for i in "12345" %}
                    {% if forloop.counter <= review.rating %}
                        <span>★</span>
                    {% else %}
                        <span>☆</span>
                    {% endif %}
                {% endfor %}
            </div>
            <p>{{ review.body }}</p>
        </div>

        <!-- Ticket associé -->
        <section class="ticket-review-box" aria-labelledby="ticket-title">
            <h2 id="ticket-title">Ticket associé</h2>
            <div class="content-header ticket-header">
                <h3>{{ review.ticket.title }}</h3>
                <span class="author">Par {{ review.ticket.user.username }}</span>
            </div>
            <div class="ticket-content">
                <p>{{ review.ticket.description }}</p>
                {% if review.ticket.image %}
                    <div class="ticket-image">
                        <img src="{{ review.ticket.image.url }}" alt="Image pour {{ review.ticket.title }}">
                    </div>
                {% endif %}
            </div>
        </section>

        {% if user == review.user %}
            <div class="review-actions">
                <a href="{% url 'update_review' review.id %}" class="btn btn-primary">Modifier</a>
                <a href="{% url 'delete_review' review.id %}" class="btn btn-danger">Supprimer</a>
            </div>
        {% endif %}
    </article>
</main>
{% endblock %}